.tooltip, .tooltip-inner, .valid-tooltip, .invalid-tooltip {
    max-width: 250px;
    width: auto;
    color:rgb(22, 21, 21);
    background-color:#ffffff !important;
    border: none;
    padding:.5px 0px;
    margin-top:.1px;
  }
  .tooltip {
    margin-top: 10px;
  }
  .tooltip-inner { border: 2px solid #6871f5; }
  .bs-tooltip-auto[x-placement^=top] .arrow:before,.bs-tooltip-top .arrow:before {
    top: 5px;
    border-top-color:#6871f5;
  }
  .bs-tooltip-auto[x-placement^=right] .arrow:before,.bs-tooltip-right .arrow:before {
    right: 5px;
    border-right-color:#6871f5;
  }
  .bs-tooltip-auto[x-placement^=bottom] .arrow:before,.bs-tooltip-bottom .arrow:before {
    bottom: 5px;
    border-bottom-color:#6871f5;
  }
  .bs-tooltip-auto[x-placement^=left] .arrow:before,.bs-tooltip-left .arrow:before {
    left: 5px;
    border-left-color:#6871f5;
  }
/* ================== PAGINATOR =================== */
.ui-paginator .ui-paginator-page.ui-state-active {
  background: #186ba0;
  color: #ffffff;
  border-color: #156090;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-prev {
  display: inline-block;
  padding: .125em .375em;
  zoom: 1;
  margin-left: .063em;
  margin-right: .063em;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.ui-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-state-default {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  color: #555555;
}
a {
  text-decoration: none;
  color: #1b82d7;
}
/*.ui-paginator {
  margin: 0 auto;
  text-align: center;
  padding: .125em;
  width: 75%;
  height: 30px;
  -position: relative;
  -bottom: 0vw;
}*/
.ui-paginator {
  text-align: center;
  padding: .125em;
  width: 260px;
  height: 30px;
  display: inline-block;
}
.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  
.fa-step-backward:before {
  content: "\f048";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-step-forward:before {
  content: "\f051";
}